*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 63.6%;
    font-family: 'Roboto', sans-serif;
}
:root{
    --red: rgb(224, 0, 60);
    --red-shadow: rgba(224, 0, 60,0.9);
    --blue:rgb(31, 21, 97);
    --yellow: #ffc107;
    --marine:#17a2b8;
    --white: #FFFFFF;
    --white-shadow: rgba(229, 227, 238, 0.9);
    --dark-gray:#343a40;
    --black: #000000;
}
h1{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.7rem;
    text-align: center;
    color: var(--white);
    background-color: var(--dark-gray);
}
h2{
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 5.7rem;
    text-align: center;
}
h3{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
}
img{
    max-width: 100%;
}
.container{
    max-width: 900px;
    min-width: 350px;
    margin: 0 auto;
}
/* header */
.header{
    height: 70px;
    padding: 25px;
    background-color: var(--blue);
}
.header-container{
    width: 100%;
    height: 100%;
    max-width: 1000px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-container{
    width: 70px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
}
@media(min-width: 650px){
    .header-logo-container{
        display: none;
    }
}
.header-logo-container .logo-img{
    width: 100%;
    height: 100%;
}
.header-logo-text-container{
    width: 192px;
    height: 50px;
    overflow: hidden;
}
.header-logo-text-container .logo-text{
    width: 100%;
    height: 100%;
}
.header-nav-container{
    display: none;
}
@media(min-width: 650px){
    .header-nav-container{
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-left: 15px;
    }
    .header-nav-container a{
        padding: 5px;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        color: var(--white);
    }
    .header-nav-container a.buy{
        border: 1px solid var(--red);
        border-radius: 5px;
    }
}

/* main */
main{
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/hero_medellin.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.main-container{
    width: 100%;
    top: 15%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: auto 0;
}
@media(min-width: 550px){
    .main-container {
        position: static;
        gap: 25px;
        max-width: 600px;
        margin: 0 auto;
    }
}
.main-container .main-info-conf{
    display: none;
}

@media(min-width: 550px){
    .main-container .main-info-conf{
        display: block;
        font-size: 1.5rem;
        text-align: justify;
        color: var(--white);
    }
}
.button-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
}
/* General button */
.button{
    width: 100%;
    min-width: 150px;
    height: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(255,255,255,0.1);
    cursor: pointer;
}
@media(min-width: 550px){
    .button-container{
        max-width: 400px;
        flex-direction: row;
        justify-content: space-between;
    }
    .button{
        width: 160px;
        height: 60px;
    }
}
/* Special button */
.buy-button{
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--red);
    color: var(--white);
}
.buy-button:hover{
    background-color: var(--red-shadow);
    border: 1px solid var(--white);
}

.button-red{
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--red);
    color: var(--white);
}
.button-red:hover{
    background-color: var(--red-shadow);
    border: 2px solid var(--blue);
    color: var(--blue);
}
.white-button{
    font-size: 1.8rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--white);
    color: var(--white);    
}
.white-button:hover{
    color: var(--black);
    background-color: var(--white);
}

/* Star speackers section */
.speakers{
    width: 100%;    
    background-image: linear-gradient(to top, var(--white) 0%, var(--white-shadow) 100%);
}

.speakers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
    
}

.speakers-container h2{
    color: var(--blue);
}
/* Start Cards Speakers Container */
.speaker-cards-container{
    /* width: 100%;
    min-width: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;         */
    width: 100%;

}
@media(min-width: 550px){
    .speaker-cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
}
@media(min-width: 1000px){
    .speaker-cards-container{
        grid-template-columns: repeat(3, 1fr);        
    }
}
/* Individual card */
.speaker-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    border: 0.5px solid var(--white-shadow);
    border-radius: 10px;
}
@media(min-width: 550px){

    .speaker-card{
        width: 100%;
        column-gap: 15px
    }
}
.speaker-card figure{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.speaker-card figure img{
    width: 100%;
    height: 100%; 
    border-radius: 10px 10px 0 0;
}
.speaker-skills-container {
    width: 90%;
    margin:10px 0px;
}
.speaker-skills-container p{
    display: inline-block;
    min-width: 50px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}
.skill--yellow{
    background-color: var(--yellow);
    
}
.skill--marine{
    margin-left: 15px;
    background-color: var(--marine);
    color: var(--white);
}

.speaker-card .speaker-name-title{
    width: 90%;
    text-align: left;
    color: var(--red);
}

.speaker-summary{
    width: 90%;
    margin: 15px;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
}

/*******Inicio Place***********/
.place{
    width: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray);
}
@media(min-width: 900px){
    .place{
        flex-direction: row;
    }
    .place__img{
        flex: calc(40%);
    }
    .place__info{
        flex: calc(60%);
    }
}
.place__img{
    height: 450px;
    overflow: hidden;    
}

.place__info{
    padding: 2rem;
}
.place__info h2{
    color: var(--white);
    margin-bottom: 1rem;
}
.place__info p{
    color: var(--white);
    font-size: 1.5rem;
    text-align: justify;
}

/***********Inscriptions***************/
.incriptions{
    
    padding: 20px 20px;
    background-color: var(--white-shadow);
}
.inscription__form{
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
}
.form_container{
    border: none;
}
.form_container legend{
    margin: 15px auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-align: center;
    color: var(--blue);    
}

.label{
    font-size: 1.5rem;
    color: var(--blue);
    width: 100%;
    margin-bottom: 20px;
}
.label label{
    width: 100%;
    display: block;
}
.label input{
    width: 100%;
    padding: 8px;
    display: block;
}
.label textarea{
    width: 100%;
    display: block;
    padding: 10px;
}
/*********FOOTER************/
.footer{
    width: 100%;
    background-color: var(--blue);
    padding: 30px auto;
    display: flex;
    flex-direction: column;    
    align-content: center;
}
.footer__social{
    margin: 15px auto;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}
.footer p{
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    margin: 15px auto;
}